@model FinancialPortal.ViewModels.BudgetsIndexVM

@{
    ViewBag.Title = "Budget";
}

<div class="container-fluid">
    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <button href="#create-modal" type="button" data-toggle="modal" title="Add Budget" class="btn btn-success btn-circle btn-lg pull-right"><i class="fa fa-plus"></i></button>
                    <h2>Household Budget</h2>
                </div>
                <div class="panel-body">
                    <p>Create and track your budget. A good place to start is with your expected income.</p>
                    <ul class="nav nav-tabs">
                        @{
                            foreach (var month in Model.Months)
                            {
                                <li>
                                    <a href="#month_@month.Id" data-toggle="tab">@month.Name</a>
                                </li>
                            }
                        }
                    </ul>
                    <div class="tab-content">
                        @foreach (var month in Model.Months)
                        {
                            <div class="tab-pane fade" id="month_@month.Id">
                                <div class="row">
                                    <div class="col-lg-3 pull-right">
                                        <div class="well-sm">
                                            @if ((month.Budgets.Where(b => !b.Expense).Sum(b => b.Value) - month.Budgets.Where(b => b.Expense).Sum(b => b.Value)) > 5)
                                            {
                                                <h5>Total Budget Remaining:</h5><h3><span class="text-success">$@(month.Budgets.Where(b => !b.Expense).Sum(b => b.Value) - month.Budgets.Where(b => b.Expense).Sum(b => b.Value))</span></h3>
                                            }
                                            else if ((month.Budgets.Where(b => !b.Expense).Sum(b => b.Value) - month.Budgets.Where(b => b.Expense).Sum(b => b.Value)) <= 5 && (month.Budgets.Where(b => !b.Expense).Sum(b => b.Value) - month.Budgets.Where(b => b.Expense).Sum(b => b.Value)) > -5)
                                            {
                                                <h5>Total Budget Remaining:</h5><h3><span class="text-info">$@(month.Budgets.Where(b => !b.Expense).Sum(b => b.Value) - month.Budgets.Where(b => b.Expense).Sum(b => b.Value))</span></h3>
                                            }
                                            else
                                            {
                                                <h5>Total Budget Remaining:</h5><h3><span class="text-danger">$@(month.Budgets.Where(b => !b.Expense).Sum(b => b.Value) - month.Budgets.Where(b => b.Expense).Sum(b => b.Value))</span></h3>
                                            }
                                        </div>
                                    </div>
                                    <div class="col-lg-3 pull-right">
                                        <div class="well-sm">
                                            <h5>Total Expected Expenses:</h5><h3><span class="text-danger">-$@month.Budgets.Where(b => b.Expense).Sum(b => b.Value)</span></h3>
                                        </div>
                                    </div>
                                    <div class="col-lg-3 pull-right">
                                        <div class="well-sm">
                                            <h5>Total Expected Income:</h5><h3><span class="text-success">+$@month.Budgets.Where(b => !b.Expense).Sum(b => b.Value)</span></h3>
                                        </div>
                                    </div>
                                </div>
                                <div class="panel-group" id="accordion">
                                    @{
                                        var num = 0;
                                        foreach (var item in month.Budgets)
                                        {
                                            <div class="panel panel-default" id="panel_type">
                                                <div class="panel-heading">
                                                    <h4 class="panel-title pull-right">
                                                        Expected Amount: $@item.Value
                                                    </h4>
                                                    <h4 class="panel-title">
                                                        <a data-toggle="collapse" data-parent="#accordion" href="#collapse_@item.Id">@item.Name</a>
                                                    </h4>
                                                </div>
                                                <div id="collapse_@item.Id" class="panel-collapse collapse in">
                                                    <div class="panel-body">
                                                        @if (item.Expense)
                                                        {
                                                            <div>
                                                                <p>
                                                                    <span class="pull-right">
                                                                        <a href="/Budgets/Details/@item.Id" class="btn btn-primary btn-circle" title="Budget Details"><i class="fa fa-info"></i></a>
                                                                        <button type="button" class="btn btn-info btn-circle" id="edit_budget_@num" title="Edit Budget"><i class="fa fa-edit"></i></button>
                                                                        <button type="button" class="btn btn-danger btn-circle" id="delete_budget_@num" title="Delete Budget"><i class="fa fa-close"></i></button>
                                                                    </span>
                                                                    <span class="text-muted">Amount Spent: $@item.Spent</span>
                                                                    <br /><span class="text-muted">Remaining: $@(item.Value - item.Spent)</span>
                                                                </p>
                                                                <div class="progress progress-striped active" style="margin-top:1em;">
                                                                    <div id="spent_@item.Id" class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="@item.Spent" aria-valuemin="0" aria-valuemax="@item.Value" style="width: @(100*(item.Spent/item.Value))%">
                                                                        <span class="sr-only"></span>
                                                                    </div>
                                                                </div>
                                                                <div>
                                                                    <button class="btn btn-info btn-sm" data-toggle="collapse" data-target="#categories_@item.Id">Categories</button>
                                                                    <div id="categories_@item.Id" class="collapse">
                                                                        <ul>
                                                                            @foreach (var cats in item.Categories)
                                                                            {
                                                                                <li>
                                                                                    @Html.Raw(cats.Name)
                                                                                </li>
                                                                            }
                                                                        </ul>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        }
                                                        else
                                                        {
                                                            <div>
                                                                <p>
                                                                    <span class="pull-right">
                                                                        <a href="/Budgets/Details/@item.Id" class="btn btn-primary btn-circle" title="View Details and Transactions"><i class="fa fa-info"></i></a>
                                                                        <button type="button" class="btn btn-info btn-circle" id="edit_budget_@num" title="Edit Budget"><i class="fa fa-edit"></i></button>
                                                                        <button type="button" class="btn btn-danger btn-circle" id="delete_budget_@num" title="Delete Budget"><i class="fa fa-close"></i></button>
                                                                    </span>
                                                                    <span class="text-muted">Amount Earned: $@item.Spent</span>
                                                                </p>
                                                                <div class="progress progress-striped active" style="margin-top:1em;">
                                                                    <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="@item.Spent" aria-valuemin="0" aria-valuemax="@item.Value" style="width: @(100*(item.Spent/item.Value))%">
                                                                        <span class="sr-only"></span>
                                                                    </div>
                                                                </div>
                                                                <div>
                                                                    <button class="btn btn-info btn-sm" data-toggle="collapse" data-target="#categories_@item.Id">Categories</button>
                                                                    <div id="categories_@item.Id" class="collapse">
                                                                        <ul>
                                                                            @foreach (var cats in item.Categories)
                                                                            {
                                                                                <li>
                                                                                    @Html.Raw(cats.Name)
                                                                                </li>
                                                                            }
                                                                        </ul>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        }
                                                    </div>
                                                </div>
                                            </div>
                                            num++;
                                        }
                                    }
                                </div>
                            </div>
                                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


@*Create Budget Modal*@
<div class="modal fade" id="create-modal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="container modal-dialog">
        <div class="row">
            <div class="col-lg-1 pull-right">
                <button type="button" class="close" style="color:#cccccc;" data-dismiss="modal" aria-hidden="true">×</button>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="login-panel panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">Add a Budget Item</h3>
                    </div>
                    <div class="panel-body">
                        @using (Html.BeginForm("Create", "Budgets", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { role = "form" }))
                        {
                            @Html.AntiForgeryToken()
                            <fieldset>
                                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                                <div class="form-group">
                                    @Html.LabelFor(m => m.NewBudget.Name, "Budget Item Title", htmlAttributes: new { @class = "control-label" })
                                    <input class="form-control text-box single-line" data-val="true" data-val-required="The Title field is required." id="Budget_Name" name="Name" placeholder="Budget Item Title" type="text" value="" autofocus>
                                    @Html.ValidationMessageFor(model => model.NewBudget.Name, "", new { @class = "text-danger" })
                                </div>
                                <div class="form-group">
                                    @Html.LabelFor(m => m.NewBudget.Description, "Budget Item Description", htmlAttributes: new { @class = "control-label" })
                                    <input class="form-control text-box single-line" data-val="true" data-val-required="The Description field is required." id="Budget_Description" name="Description" placeholder="Budget Item Description" type="text" value="">
                                    @Html.ValidationMessageFor(model => model.NewBudget.Description, "", new { @class = "text-danger" })
                                </div>
                                <div class="form-group">
                                    @Html.LabelFor(model => model.NewBudget.Value, htmlAttributes: new { @class = "control-label" })
                                    <input class="form-control" placeholder="Budget Amount" type="number" step="0.01" name="Value" id="Budget_Value" required />
                                    @Html.ValidationMessageFor(model => model.NewBudget.Value, "", new { @class = "text-danger" })
                                </div>
                                <div class="checkbox">
                                    <label>
                                        <input data-val="true" data-val-required="The Expense field is required." id="Budget_Expense" name="Expense" type="checkbox" value="true" checked>
                                        Is this an Expense? (Unchecked if this budget item is income)
                                    </label>
                                </div>
                                <div class="form-group">
                                    @Html.LabelFor(model => model.NewBudget.Categories, "Categories included in this Budget Item", htmlAttributes: new { @class = "control-label" })
                                    <div>
                                        @Html.ListBox("CategoryId", null, htmlAttributes: new { @class = "form-control" })
                                        @Html.ValidationMessageFor(model => model.NewBudget.Categories, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                                <!-- Change this to a button or input when using this as a form -->
                                <input type="submit" value="Add Budget Item" class="btn btn-success btn-block" style="margin-top:1em;" />
                            </fieldset>
                        }
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12 text-center">
                <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Cancel</button>
            </div>
        </div>
    </div>
</div>

@*Edit Transactions Modal*@
<div class="modal fade" id="edit-budget-modal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="container modal-dialog">
        <div class="row">
            <div class="col-lg-1 pull-right">
                <button type="button" class="close" style="color:#cccccc;" data-dismiss="modal" aria-hidden="true">×</button>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="login-panel panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">Edit Budget Item</h3>
                    </div>
                    <div class="panel-body">
                        @using (Html.BeginForm("Edit", "Budgets", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { role = "form" }))
                        {
                            @Html.AntiForgeryToken()
                            <fieldset>
                                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                                <input type="hidden" value="" id="edit_budget_id" name="Budget.Id" />
                                <div class="form-group">
                                    @Html.LabelFor(model => model.NewBudget.Name, htmlAttributes: new { @class = "control-label col-md-2" })
                                    <input class="form-control text-box single-line" data-val="true" data-val-required="The Title field is required." id="edit_budget_name" name="Budget.Name" placeholder="Budget Title" type="text" value="" autofocus>
                                    @Html.ValidationMessageFor(model => model.NewBudget.Name, "", new { @class = "text-danger" })
                                </div>
                                <div class="form-group">
                                    @Html.LabelFor(model => model.NewBudget.Description, htmlAttributes: new { @class = "control-label col-md-2" })
                                    <input class="form-control text-box single-line" id="edit_budget_description" name="Budget.Description" placeholder="Budget Description" type="text" value="">
                                    @Html.ValidationMessageFor(model => model.NewBudget.Description, "", new { @class = "text-danger" })
                                </div>
                                <div class="form-group">
                                    @Html.LabelFor(model => model.NewBudget.Value, htmlAttributes: new { @class = "control-label col-md-2" })
                                    <input class="form-control" placeholder="Amount" type="number" step="0.01" name="Budget.Value" id="edit_budget_value" required="">
                                    @Html.ValidationMessageFor(model => model.NewBudget.Value, "", new { @class = "text-danger" })
                                </div>
                                <div class="checkbox">
                                    <label>
                                        <input data-val="true" data-val-required="The Expense field is required." id="edit_budget_expense" name="Budget.Expense" type="checkbox" value="true">
                                        Is this an Expense? (Unchecked if this budget item is income)
                                    </label>
                                </div>                                
                                <div class="form-group">
                                    @Html.LabelFor(model => model.NewBudget.Categories, "Categories", htmlAttributes: new { @class = "control-label" })
                                    @Html.ListBox("EditCategoryId", null, htmlAttributes: new { @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.NewBudget.Categories, "", new { @class = "text-danger" })
                                </div>                                
                                <input type="submit" value="Save Changes" class="btn btn-info btn-block" style="margin-top:1em;" />
                            </fieldset>
                        }
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12 text-center">
                <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Cancel</button>
            </div>
        </div>
    </div>
</div>

@*Delete Transaction Modal*@
<div class="modal fade" id="delete-budget-modal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="container modal-dialog">
        <div class="row">
            <div class="col-lg-1 pull-right">
                <button type="button" class="close" style="color:#cccccc;" data-dismiss="modal" aria-hidden="true">×</button>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="login-panel panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">Delete Budget?</h3>
                    </div>
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-lg-12">
                                <h3 id="delete_budget_name"></h3>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12" id="delete_budget_description">

                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12">
                                <h4 id="delete_budget_value"></h4>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12">
                                @using (Html.BeginForm("Delete", "Budgets", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { role = "form" }))
                                {
                                    @Html.AntiForgeryToken()
                                    <fieldset>
                                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                                        <input type="hidden" value="" id="delete_budget_id" name="Id" />
                                        <input type="submit" value="Delete Budget" class="btn btn-danger btn-block" style="margin-top:1em;" />
                                    </fieldset>
                                }
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12 text-center">
                <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Cancel</button>
            </div>
        </div>
    </div>
</div>


@section scripts{
    <script type="text/javascript">        
        $(document).ready(function () {
            var usedCategories = [];
            @{
                int count = 0;
                foreach (var budget in Model.Budgets)
                {
                    foreach (var cat in budget.Categories)
                    {
                        @:usedCategories.push(@cat.Id);
                                    @:$('#CategoryId option[value=@cat.Id]').prop('disabled', true);
                                }
                }
                foreach (var budget in Model.Budgets)
                {
                    <text>
            $('#CategoryId').multiselect("refresh");
            var categories_@count = [];
            var editCategories_@count = usedCategories.slice();
            @foreach(var cat in budget.Categories)
                        {
                            <text>
            categories_@(count).push(@cat.Id);
            var index = editCategories_@(count).indexOf(@cat.Id);
            if(index > -1)
            {
                editCategories_@(count).splice(index, 1);
            }
            </text>
                        }
            $(document).on('click', '#delete_budget_@count', function(){DeleteBudget(@budget.Id,'@budget.Name','@budget.Description','@budget.Expense',@budget.Value)});
            $(document).on('click', '#edit_budget_@count', function(){
                EditBudget(@budget.Id,'@budget.Name','@budget.Description',@budget.Value,'@budget.Expense',categories_@count,editCategories_@count);
            });
            @if (budget.Expense) {
                //@:remainColor(@budget.Value,@budget.Spent,@budget.Id);
                @:spendColor(@budget.Value,@budget.Spent,@budget.Id);
            }
            </text>
                    count++;
                }
            }
        })

    </script>
    }