@model FinancialPortal.ViewModels.BankDetailsVM
@using FinancialPortal.Helpers;
@{
    ViewBag.Title = "Details";
}

<div class="container-fluid">
    <div class="row">
        <div class="col-lg-1">
            <div class="row">
                <div class="col-lg-12">
                    <a href="/Banks/Edit/@Model.Bank.Id" class="btn btn-info btn-circle" title="Edit Account"><i class="fa fa-edit"></i></a>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <button href="#transaction-modal" type="button" data-toggle="modal" title="Add Transaction" class="btn btn-success btn-circle"><i class="fa fa-plus"></i></button>
                </div>
            </div>
        </div>
        <div class="col-lg-6">
            <h2>@Model.Bank.Name</h2>
        </div>
        <div class="col-lg-2">
            <h2 id="balance">$@Model.Bank.Balance</h2>
        </div>
        <div class="col-lg-2">
            @if (Model.Bank.ReconciledBalance != null)
            {
                <h2 id="reconciled">$@Model.Bank.ReconciledBalance</h2>
            }
        </div>
    </div>
    <div class="row">
        <div class="col-lg-11 col-lg-offset-1">
            <h6>@Model.Bank.Description</h6>
            <p class="pull-right" id="created_date"></p>
            @if (Model.Bank.Updated != null)
            {
                <p class="pull-right" id="udated_date"></p>
            }
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <hr />
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12 text-center">
            <h3>Transactions</h3>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <table class="table" id="bank_transactions" width="100%">
                <thead>
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.Bank.Transactions.First().Name)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Bank.Transactions.First().Description)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Bank.Transactions.First().Value)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Bank.Transactions.First().Created)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Bank.Transactions.First().Updated)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Bank.Transactions.First().Submitter)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Bank.Transactions.First().Editor)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Bank.Transactions.First().Category.Name)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Bank.Transactions.First().Type.Name)
                        </th>
                        <th>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @{
                        int num = 0;
                        foreach (var item in Model.Bank.Transactions.Where(t => t.Void == false))
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Name)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Description)
                                </td>
                                <td>
                                    @if (!item.Expense)
                                    {
                                        <span class="text-success heavy">
                                            @if (item.Reconciled)
                                            {
                                                @:+$@item.ReconciledValue<span class="text-primary" title="Reconciled Value">**</span>
                                            }
                                            else
                                            {
                                                @Html.Raw("+$" + item.Value)
                                            }
                                        </span>
                                    }
                                    else
                                    {
                                        <span class="text-danger heavy" title="Expense">
                                            @if (item.Reconciled)
                                            {
                                                @:-$@item.ReconciledValue<span class="text-primary" title="Reconciled Value">**</span>
                                            }
                                            else
                                            {
                                                @Html.Raw("-$" + item.Value)
                                            }
                                        </span>
                                    }
                                    
                                </td>
                                <td id="transaction_create_@num">
                                    <span style="display:none">
                                        @item.Created
                                    </span>
                                </td>
                                <td id="transaction_update_@num">
                                    @if(item.Updated != null)
                                    {
                                    <span style="display:none">
                                        @item.Updated       
                                    </span>
                                    }
                                </td>
                                <td>
                                    @Html.Raw(DisplayHelpers.FirstName(item.Submitter) + " " + DisplayHelpers.LastName(item.Submitter))
                                </td>
                                <td>
                                    @if(item.Editor != null)
                                    {
                                    @Html.Raw(DisplayHelpers.FirstName(item.Editor) + " " + DisplayHelpers.LastName(item.Editor))
                                    }
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Category.Name)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Type.Name)
                                </td>
                                <td>
                                    <button type="button" class="btn btn-info btn-circle" id="edit_trans_@num" title="Edit Transaction"><i class="fa fa-edit"></i></button>
                                    <button type="button" class="btn btn-danger btn-circle" id="delete_trans_@num" title="Delete Transaction"><i class="fa fa-close"></i></button>
                                </td>
                            </tr>
                            num++;
                        }
                    }
                </tbody>
            </table>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <p>
                <a href="/Banks/Index" title="Back to Accounts" class="btn btn-default btn-circle btn-lg" style="padding-top:13px !important;"><i class="fa fa-arrow-left"></i></a>
            </p>
        </div>
    </div>
</div>



@*Create Transactions Modal*@
<div class="modal fade" id="transaction-modal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="container modal-dialog">
        <div class="row">
            <div class="col-lg-1 pull-right">
                <button type="button" class="close" style="color:#cccccc;" data-dismiss="modal" aria-hidden="true">×</button>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="login-panel panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">Add a Transaction</h3>
                    </div>
                    <div class="panel-body">
                        @using (Html.BeginForm("Create", "Transactions", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { role = "form" }))
                        {
                            @Html.AntiForgeryToken()
                            <fieldset>
                                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                                <input type="hidden" value="@Model.Bank.Id" name="Transaction.BankId" />
                                <div class="form-group">
                                    @Html.LabelFor(m => m.Transaction.Name, "Transaction Title", htmlAttributes: new { @class = "control-label" })
                                    <input class="form-control text-box single-line" data-val="true" data-val-required="The Title field is required." id="Transaction_Name" name="Transaction.Name" placeholder="Transaction Title" type="text" value="" autofocus>
                                    @*@Html.EditorFor(model => model.Email.ToName, new { htmlAttributes = new { @class = "form-control", placeholder = "Recipient's Name" } })*@
                                    @Html.ValidationMessageFor(model => model.Transaction.Name, "", new { @class = "text-danger" })
                                </div>
                                <div class="form-group">
                                    @Html.LabelFor(m => m.Transaction.Description, "Transaction Description", htmlAttributes: new { @class = "control-label" })
                                    @Html.EditorFor(model => model.Transaction.Description, new { htmlAttributes = new { @class = "form-control", placeholder = "Transaction Description" } })
                                    @Html.ValidationMessageFor(model => model.Transaction.Description, "", new { @class = "text-danger" })
                                </div>
                                <div class="form-group">
                                    @Html.LabelFor(model => model.Transaction.Value, htmlAttributes: new { @class = "control-label" })
                                    <input class="form-control" placeholder="Amount" type="number" step="0.01" name="Transaction.Value" id="Transaction_Value" required />
                                    @Html.ValidationMessageFor(model => model.Transaction.Value, "", new { @class = "text-danger" })
                                </div>
                                <div class="checkbox">
                                    <label>
                                        <input data-val="true" data-val-required="The Include field is required." id="Transaction_Expense" name="Transaction.Expense" type="checkbox" value="true" checked>
                                        Is this an Expense? (e.g. Is money leaving this account?)
                                    </label>
                                </div>
                                <div class="form-group">
                                    @Html.LabelFor(model => model.Transaction.CategoryId, "Category", htmlAttributes: new { @class = "control-label" })
                                    @Html.DropDownList("CategoryId", null, htmlAttributes: new { @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.Transaction.CategoryId, "", new { @class = "text-danger" })
                                </div>
                                <div class="form-group">
                                    @Html.LabelFor(model => model.Transaction.TypeId, "Transaction Type", htmlAttributes: new { @class = "control-label" })
                                    @Html.DropDownList("TypeId", null, htmlAttributes: new { @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.Transaction.TypeId, "", new { @class = "text-danger" })
                                </div>
                                <div class="form-group">
                                    <label>
                                        <input id="connect_hidden" name="Connected" type="hidden" value="false" />
                                        <input data-val="true" id="Connected" name="Connected" type="checkbox" value="true" />
                                        Is this transaction a tranfer?<br />(i.e. Are you moving money from one account to another?)
                                    </label>
                                </div>
                                <div class="form-group">
                                    <label class="control-label">Other Account Involved in Transfer:</label>
                                    @Html.DropDownList("OtherBankId", null, htmlAttributes: new { @class = "form-control", @disabled = "disabled" })
                                </div>
                                <!-- Change this to a button or input when using this as a form -->
                                <input type="submit" value="Add Transaction" class="btn btn-info btn-block" />
                            </fieldset>
                        }
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12 text-center">
                <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Cancel</button>
            </div>
        </div>
    </div>
</div>

@*Edit Transactions Modal*@
<div class="modal fade" id="edit-trans-modal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="container modal-dialog">
        <div class="row">
            <div class="col-lg-1 pull-right">
                <button type="button" class="close" style="color:#cccccc;" data-dismiss="modal" aria-hidden="true">×</button>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="login-panel panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">Edit Transaction</h3>
                    </div>
                    <div class="panel-body">
                        @using (Html.BeginForm("Edit", "Transactions", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { role = "form" }))
                        {
                            @Html.AntiForgeryToken()
                            <fieldset>
                                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                                <input type="hidden" value="" id="edit_transaction_id" name="Transaction.Id" />
                                <input type="hidden" value="@Model.Bank.Id" id="edit_transaction_bankId" name="Transaction.BankId" />
                                <div class="form-group">
                                    @Html.LabelFor(model => model.Transaction.Name, htmlAttributes: new { @class = "control-label col-md-2" })
                                    <input class="form-control text-box single-line" data-val="true" data-val-required="The Title field is required." id="edit_transaction_name" name="Transaction.Name" placeholder="Transaction Title" type="text" value="" autofocus>
                                    @Html.ValidationMessageFor(model => model.Transaction.Name, "", new { @class = "text-danger" })
                                </div>
                                <div class="form-group">
                                    @Html.LabelFor(model => model.Transaction.Description, htmlAttributes: new { @class = "control-label col-md-2" })
                                    <input class="form-control text-box single-line" id="edit_transaction_description" name="Transaction.Description" placeholder="Transaction Description" type="text" value="">
                                    @Html.ValidationMessageFor(model => model.Transaction.Description, "", new { @class = "text-danger" })
                                </div>
                                <div class="form-group">
                                    @Html.LabelFor(model => model.Transaction.Value, htmlAttributes: new { @class = "control-label col-md-2" })
                                    <input class="form-control" placeholder="Amount" type="number" step="0.01" name="Transaction.Value" id="edit_transaction_value" required="">
                                    @Html.ValidationMessageFor(model => model.Transaction.Value, "", new { @class = "text-danger" })
                                </div>
                                <div class="checkbox">
                                    <label>
                                        <input data-val="true" data-val-required="The Expense field is required." id="edit_transaction_expense" name="Transaction.Expense" type="checkbox" value="true">
                                        Is this an Expense? (e.g. Is money leaving this account?)
                                    </label>
                                </div>
                                <div class="checkbox">
                                    <label>
                                        <input data-val="true" data-val-required="The reconciled field is required." id="edit_transaction_reconciled" name="Transaction.Reconciled" type="checkbox" value="true">
                                        Is there a Reconciled Amount? (e.g. Is a correction needed?)
                                    </label>
                                </div>
                                <div class="form-group">
                                    @Html.LabelFor(model => model.Transaction.ReconciledValue, "Reconciled Amount", htmlAttributes: new { @class = "control-label col-md-2" })
                                    <input class="form-control" placeholder="Reconciled Amount" type="number" step="0.01" name="Transaction.ReconciledValue" id="edit_transaction_reconciledvalue" disabled>
                                    @Html.ValidationMessageFor(model => model.Transaction.ReconciledValue, "", new { @class = "text-danger" })
                                </div>
                                <div class="form-group">
                                    @Html.LabelFor(model => model.Transaction.CategoryId, "Category", htmlAttributes: new { @class = "control-label" })
                                    @Html.DropDownList("EditCategoryId", null, htmlAttributes: new { @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.Transaction.CategoryId, "", new { @class = "text-danger" })
                                </div>
                                <div class="form-group">
                                    @Html.LabelFor(model => model.Transaction.TypeId, "Transaction Type", htmlAttributes: new { @class = "control-label" })
                                    @Html.DropDownList("EditTypeId", null, htmlAttributes: new { @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.Transaction.TypeId, "", new { @class = "text-danger" })
                                </div>
                                <input type="submit" value="Save Changes" class="btn btn-info btn-block" />
                            </fieldset>
                        }
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12 text-center">
                <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Cancel</button>
            </div>
        </div>
    </div>
</div>

@*Delete Transaction Modal*@
<div class="modal fade" id="delete-trans-modal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="container modal-dialog">
        <div class="row">
            <div class="col-lg-1 pull-right">
                <button type="button" class="close" style="color:#cccccc;" data-dismiss="modal" aria-hidden="true">×</button>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="login-panel panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">Delete Transaction?</h3>
                    </div>
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-lg-12">
                                <h3  id="delete_trans_name"></h3>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12" id="delete_trans_description">

                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12">
                                <h4 id="delete_trans_value"></h4>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12">
                                @using (Html.BeginForm("Delete", "Transactions", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { role = "form" }))
                                {
                                    @Html.AntiForgeryToken()
                                    <fieldset>
                                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                                        <input type="hidden" value="" id="delete_trans_id" name="Id" />
                                        <input type="hidden" value="@Model.Bank.Id" id="bankId" name="bankId" />
                                        <input type="submit" value="Delete Transaction" class="btn btn-danger btn-block" />
                                    </fieldset>
                                }
                            </div>
                        </div>                       
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12 text-center">
                <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Cancel</button>
            </div>
        </div>
    </div>
</div>

@section scripts{
    <script type="text/javascript">        
        $(document).ready(function () {
            $("#bank_transactions").DataTable({
                dom: 'Blfrtip',
                buttons: [
                    'colvis'
                ],
                "order": [[ 3, "desc" ]],
                responsive: true
            });            

            @{
                int count = 0;
                foreach(var transaction in Model.Bank.Transactions.Where(t=>t.Void==false))
                {
                    <text>
            $(document).on('click', '#delete_trans_@count', function(){DeleteTrans(@transaction.Id,'@transaction.Name','@transaction.Description','@transaction.Expense',@transaction.Value)});

            $(document).on('click', '#edit_trans_@count', function(){EditBankTrans(@transaction.Id,'@transaction.Name','@transaction.Description','@transaction.Expense','@transaction.Reconciled',@transaction.ReconciledValue,@transaction.CategoryId,@transaction.TypeId)});

            @if(transaction.Updated != null)
            {
                @:transDate2(@count,'@transaction.Created.ToUniversalTime().ToString()', '@transaction.Updated.Value.ToUniversalTime().ToString()');
            }
            else
            {
                @:transDate(@count,'@transaction.Created.ToUniversalTime().ToString()');
            }
            </text>
                    count++;
                }
            }            

            $("#transactions").DataTable({
                dom: 'Blfrtip',
                buttons: [
                    'colvis'
                ],
                "order": [[3, "asc"]],
                responsive: true
            });

            $("#edit_transaction_reconciled").change(function () {
                if ($(this).is(":checked")) {
                    $("#edit_transaction_reconciledvalue").prop('disabled', false)
                }
                else {
                    $("#edit_transaction_reconciledvalue").prop('disabled', "disabled")
                }
            });

            $("#Connected").change(function () {
                if ($(this).is(":checked")) {
                    $("#connect_hidden").attr("value", "true")
                    $("#OtherBankId").prop('disabled', false)
                }
                else {
                    $("#connect_hidden").attr("value", "false")
                    $("#OtherBankId").prop('disabled', "disabled")
                }
            });
        });
    </script>
}
